body {
	 background: #CCDDFF;
	 outline-style:outset;
     outline-color:#000088;
}



     
    h1 {font-size:70px;
     	text-transform:20px;
     	font-family:Arial, “Microsoft YaHei”;
     	background: #7700BB;
     	letter-spacing:10px;
     	color: #FFFFFF;
     	text-align:center;
        outline-style:outset;
        outline-color:#000088;
       
    } 
        a .main-list {
    	text-decoration:line-through;
        color: 	#227700     
        }  
        a:hover{
        	color: 	#3A0088
        }

        nav{marker-mid: 140px;
	        font-size:18px

        }

   
    h2 {font-size:30px;
     	text-transform:8px;
     	font-family:" KaiTi";
     	letter-spacing:10px;
     	color:  #800000;
     	text-align:center;
        text-transform:capitalize 
        text-decoration:underline                
    }    
    
    img {
    display: block;
    margin: auto;
    width: 40%;
}

     
    p{font-size:20px;
      font-family:" KaiTi"
      color:	#EEEE00;
      text-align:center;
      margin-left: 510px; 
      margin-right: 510px; 
    }
     strong{color: FFFFFF
            font-size:25px
        }


   li{color: #FFFFFF; 
      margin-left: 510px; 
      margin-right: 510px;
      font-size:18px
	     }
