body {
	 background: #E8CCFF;
	 outline-style:outset;
     outline-color:#000088;
}



     
    h1 {font-size:70px;
     	text-transform:20px;
     	font-family:Arial, “Microsoft YaHei”;
     	background: #7700BB;
     	letter-spacing:10px;
     	color: #FFFFFF;
     	text-align:center;
        outline-style:outset;
        outline-color:#000088;
       
    } 
        a .main-list {
    	text-decoration:line-through;
        color: #C63300     
        }  
        a:hover{
        	color: 	#3A0088
        }

        nav{marker-mid: 140px;
	        font-size:40px

        }

   
    h2 {font-size:40px;
     	text-transform:8px;
     	font-family:" KaiTi";
     	letter-spacing:10px;
     	color:  #800000;
     	text-align:center;
        text-transform:capitalize                 
    }    
    
    



